<form action="/books/<%= book == '' ? 'add' : `updated-${book.id}` %>" method="post" onsubmit="return validateForm()">
  <h1>Form <%= book == '' ? 'Tambah Data' : 'Edit Data' %></h1>
  <input
    type="text"
    id="title"
    name="title"
    value="<%= book.title %>"
    placeholder="input title"
  />
  <span id="titleError" style="color: red"></span>
  <input type="number" id="stock" name="stock" value="<%= book.stock %>" placeholder="input stock" />
  <span id="stockError" style="color: red"></span>
  <select name="authorId" id="authorId">
    <option value="" selected hidden>Pilih Auhtor</option>
    <% authors.forEach(a => { %>
    <option
      value="<%= a.id %>"
      <%= book.authorId == a.id ? 'selected' : '' %>
    >
      <%= a.name %>
    </option>
    <% }) %>
  </select>
  <span id="authorIdError" style="color: red"></span>
  <button type="submit"><%= book == '' ? 'Tambah Data' : 'Update Data' %></button>
</form>
